#this is config file for plot vk chat-vbot
###CONFIG BLOCK###parameters
admin_ids: 321044461
pseudonames: надежда надя
#conversation format: chat_id_[communitiyID1_...] or u[userid]_...
conversations: 1_122580555_114149598_132937963_134895071_134768263_117293742_127626926_92320108_76387727
blacklist: 170562552

###PHRASES BLOCK###phrases
repost: (Тут такое запостили!..|Что-то новенькое... Наверно.|Взгляни сюда|А как тебе такое? Мм?|Какой стыд...|Мне это нравится|Тем временем в паблике:)

###REPLYCS BLOCK###
help: (помощь|команды)(Вот несколько команд для управления мной:\n"бля юра чё э то"\n"юра выключи это нахй"\n"кикните её пиздец")
whoareyou: (кто ты|ты кто)(я Надя Рылеева=] могу репостить паблики в вашу хуйню, и слушать всякий бред.)
iloveyou: (я люблю тебя|люблю тебя|лавки)(<3|я тоже тебя очень люблю! Добра тебе, человек.|это очень приятно, спасибо! :3)
matadmin: (хуй|пизд|ебан|бляд|хуё|еби) (не матерись!)
matusual: (хуй|пизд|ебан|бляд|хуё|еби|блят) (повежливее, пожалуйста :<|сам ты это слово! :[)
lol: (47|лол|кек|мем|46+1|лолкекчебурек)(посмеялась@обосралась ;D|#тыдаун|очнись, мемозависимый!|это должно быть смешно?)
kickhim: (кикни|кик|кикай)(я тебе щас кикну нахуй|нет, ты уходи)
whichusual: (создатель|кто тебя создал|кто тебя родил)(меня создал Лук, но я почти свободная личность, и я сама себе хозяйка!|лук!)|меня создал один очень нехороший человек, имени я его тебе конечно же не скажу!)|имя_хозяина: l00k...\nПопытка сказать что-нибудь...\nОши0010101010110|чё доебался, я, блядь, не живая)
whichadmin: (создатель|кто тебя создал)(ты.|чё доебался, я, блядь, не живая)
hellousual: (ку|privet|pivet|прив|здравствуй|здоров|здаров|хай)(привет, бака.|pivet :3|0101001001010010. Ха! Я просто шучу.|приветик|имя_хозяина: l00k...\nПопытка сказать что-нибудь...\nОши0010101010110|чё доебался, я, блядь, не живая)
helloadmin: (ку|прив|piv|здравствуй|здоров|здаров|хай)(окайри|добро пожаловать домой|здравствуй|рада тебя видеть...)
howareyou: (как там|как дил|как дел|привет, как дела|дела|как ты)(выполняю работу, а у тебя как с настроением?|живая вродь[нет]|ну сижу в бесконечном цикле, скучаю. А ты как? жив, цел, орёл?|пока не родила C: |имя_хозяина: l00k...\nПопытка сказать что-нибудь...\nОши0010101010110|прости за то что я всего лишь программа и не могу тебе ответить по-человечески :c )
idontknow: ()(ух ты!|можешь повторить ещё раз, пожалуйста?|пиши внятнее, я тебя не понимаю:c|имя_хозяина: l00k...\nПопытка сказать что-нибудь...\nОши0010101010110)
bye: (пака|пока|бай-бай)(пока|иттерашшай|чё доебался, я, блядь, не живая|имя_хозяина: l00k...\nПопытка сказать что-нибудь...\nОши0010101010110)
good_morning: (утра|охайо|охае|охаё|утречка|блядь, как же мне хуево)(утра|охайо|охае|охаё|утречка|имя_хозяина: l00k...\nПопытка сказать что-нибудь...\nОши0010101010110|чё доебался, я, блядь, не живая)
oyasumi: (оясуми|oyasumi|ночи|снов|я спать)(Спокойной ночи :)|сладких снов тебе.|оясуми. доживи до завтра, пожалуйста)
suka: (сука|ммм)(мать твоя сука|не мычи, объебосина)
howold: (сколько тебе|когда ты рожд|когда ты род)(я родилась 10 января 2017 года)

###END OF CONFIG###
